@import "reset.css";
@import "grid.css";
@import "font.css";
:root{
    --primary-color: #D3F85A;
    --text-color:#FFFFFD;
}

/* 
--Reset Css--
*/
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}
li{
padding-left: 0;
}

/* 
--Components
*/

.btn{
    background-color: var(--primary-color);
    border-radius: .8rem;
    padding: 1.2rem 4rem;
    color: #090F1D;
    font-family: "inter Bold";
}

/* 
---Helper Class---
 */


 /* 
 --App--
 */
 html{
    font-size: 62.5%;
 }
 body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    background:#0c1322;
    font-family: "Inter";
 }
 /* 
 =======
   Header
 =======  
 */
.header{
    margin-top: 3rem;
    margin-bottom: 20rem;
}
.logo{
display: flex;
align-items: center;
}
.logo__img{
width: 2.4rem;
height: 2.4rem;
margin-right: .5rem
}
.header__title{
font-size: 2.4rem;
font-family: "Canela";
}
.header__title span{
    font-size: 2.4rem;
font-family: "Canela";
color: var(--primary-color);
}
.nav{
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-menu{
    display: none;
gap: 2rem;

}
.nav-menu__link{
    position: relative;
color: rgba(255, 255, 253, 0.72);
transition: width .2s ease-in;

}
.nav-menu__link:hover{
    color: var(--text-color);
}
.nav-menu__link::before{
    position: absolute;
    content: "";
    top: 2.5rem;
    bottom: 0;
margin: auto 0;
width:0;
display: block;
height: .3rem;
background-color: var(--primary-color);
border-radius: 2rem;
transition: width .2s ease-in;
}
.nav-menu__link:hover::before{
    width: 9.2rem;
}
.nav-menu__link-hover::before{}

.nav-menu__link-one::before{
    position: absolute;
    content: "";
    top: 2.5rem;
    bottom: 0;
margin: auto 0;
width:0;
height: .3rem;
background-color: var(--primary-color);
border-radius: 2rem;
transition: width .2s ease-in;
}
.nav__links{
    display: none;
}
.mobile-menu{
position: fixed;
background-color:#2a2828 ;
top: 0;
left: -26rem;
bottom: 0;
width: 20rem;
padding: 2rem;
transition: left .2s ease-in;
z-index: 999;
}
.mobile-menu--open{
    left: 0;
}
.mobile-menu__item{
margin-bottom: 1.5rem;
}
.mobile-menu__link{
color: rgba(255,255,253,72%);
position: relative;
}
.mobile-menu__link::before{
    position: absolute;
    content: "";
    top: 2.5rem;
    bottom: 0;
margin: auto 0;
width:0;
height: .3rem;
background-color: var(--primary-color);
border-radius: 2rem;
transition: width .2s ease-in;
}
.mobile-menu__link:hover::before{
width: 5rem;
}
.mobile-menu__link:hover{
    color: var(--text-color);
}
.header__toggle-icon{
border-radius: 2rem;
width: 5rem;
height: 5rem;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.header__toggle-line{
position: relative;
}
.header__toggle-line,
.header__toggle-line::before,
.header__toggle-line::after{
    content: "";
width: 3rem;
height: .4rem;
background-color: #fff;
border-radius: 2rem;
transition: all .2s ease-in;
}
.header__toggle-line::before{
    position: absolute;
    top: .8rem;
}
.header__toggle-line::after{
    position: absolute;
    top: -.8rem;
}
.header__toggle-icon--open  .header__toggle-line{
background: transparent;
}
.header__toggle-icon--open  .header__toggle-line::before{
    transform: translateY(-.8rem)rotate(-45deg) ;
}
.header__toggle-icon--open  .header__toggle-line::after{
    transform: translateY(.8rem) rotate(45deg);
}
.header-content{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.header-content__left{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content__title{
font-family: "Canela";
font-size: 3.9rem;
text-align: center;
line-height: 1.2;
margin-top: 4rem;
margin-bottom: 3rem;

}
.header-content__title span{
    color: var(--primary-color);
}
.header-content__description{
    margin-bottom: 6.5rem;
    text-align: center;
}
.header-content__links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content__link{
    margin-right: 4rem;
    transition: box-shadow .2s ease-in;
    
}
.header-content__link:hover{
    box-shadow: 0 0 .8rem var(--primary-color);
}
.header-content--more{
color: var(--text-color);
font-family: "Inter Bold";
}
.header-content__right{
    display: flex;
    justify-content: center;
}
.header-content__img{
    position: relative;
display: block;
width: 30rem;
height: 38rem;
}
.header-content__bid{
    border-top: .1rem solid var(--primary-color);
    background-color: #131E3A;
    box-shadow: 0 0 9rem 5rem rgba(23,36,65,0.04);
    border-radius: 1.6rem;
    padding: 1.2rem;
    gap: 1.6rem;
    width: 23rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    position: absolute;
    top: 80rem;
    right: 9rem;
}
.header-content__end-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-content__end{
font-size: 1.4rem;
color: var(--primary-color);
}
.header-content__time-wrapper{
    display: flex;
    justify-content: space-between;
}
.header-content__time{
font-family: "Inter Bold";
}
.header-content__bid-place{
    font-family: "Inter Bold";
    color: var(--primary-color);
    background-color: inherit;
    border: 1px solid var(--primary-color);
    text-align: center;
    transition: all 200ms ease-in;
}
.header-content__bid-place:hover{
    background-color: var(--primary-color);
    color: #090F1D;
}
.follows{
    display: flex;
    gap: 2rem;
}
.follow{
    margin-top: 2rem;
    font-family: "Canela";
    font-size: 3.1rem;
border-right: 2px solid var(--primary-color);
padding-right: 2rem;
}
/* 
=======
     Main 
=======
*/
.art-head{
    display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
margin-bottom: 10rem;
}
.art-head__title{
 font-family: "Canela";
 font-size: 3.1rem;
justify-self: center;
width:34rem;
height: 15rem;
text-align: center;
}
.art-head__title span{
color: var(--primary-color);
}
.art-head__link{
display: none;
}
.art-package{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.package{
width: 34rem;
height: 48rem;
border-radius: 2.4rem;
border-top: 1px solid var(--primary-color);
padding: 1.6rem;
background-color: #131E3A;
display: flex;
flex-direction: column;
}
.package__img{
margin-bottom: 2rem;
}
.package__title{
font-family: "Inter Bold";
font-size: 2rem;
}
.package__head{
    display: flex;
}
.art-package__head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.package__clock{
    display: flex;
    gap: 1rem;
}
.package__time-end{
    font-size: 1.4rem;
    color: #838382;
}
.package__time-title{
    font-family: "Inter Bold";
    font-size: 1.6rem;
}
.package__time-bid{
    display: flex;
    justify-content: space-between;
}
.package__time-link{
color:var(--primary-color) ;
border: 1px solid var(--primary-color);
background-color: #131E3A;
transition: background-color .2s ease-in;
}
.package__time-link:hover{
background-color: var(--primary-color);
color: #131E3A;
}
.nft{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}
.nft__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nft__title{
font-family: "Canela";
font-size: 3.1rem;
max-width: 22rem;
/* margin: 0 auto; */
margin-bottom: 4rem;
line-height: 1.2;
margin-top: 4rem;
}
.nft__title span{
    color: var(--primary-color);
}
.nft__caption{
margin-bottom:4rem;
text-align: center;
width: 34rem;
}
.nft__links{
margin-bottom: 3rem;
}
.nft__link--black{
    color: #fff;
    margin-left: 2rem;
    transition: all .2s ease-in;
}
.nft__link--black:hover{
   margin-left: 2.5rem;
}
.nft__ovator{
position: relative;
top: 0;
right: 0;
}
.nft__img{
position: relative;
right: -20rem;
width: 16rem;
height: 17rem;
}
.nft__img-human{
position: absolute;
left: 6rem;
top: 12rem;
width:15rem;
}
.artist{
margin-top: 9rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 9rem;
}
.artist-head{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width:100%;
}
.artist-head__title{
font-family: "Canela";
font-size: 3.1rem;
width: 20rem;
margin-bottom: 2rem;
line-height: 1.2;
}
.artist-head__title span{
    color: var(--primary-color);
}
.artist-head__link{
display: none;
}
.artist-robot-left-top img{
    width: 100%;
    height: 31rem;
}
.artist-robot-left-bottom img {
    width: 100%;
    height: 31rem;
}
.robot-blue{
    display: none;
}
.subscribe{
margin-top: 5rem;
text-align: center;
}
.subscrib-content{

}
.subscrib-content__title{
    font-size: 3.1rem;
    font-family: "Canela";
    line-height: 1.2;
    margin-bottom: 2rem;
}
.subscrib-content__title span{
    color: var(--primary-color);
}
.subscibe-content__caption{
margin-bottom: 3rem;
}
.subscribe-index{
 
}
.subscribe__form{

}
.subscribe__email{
padding: 1.6rem 2.4rem;
border-radius: .8rem;
background-color: #131E3A;
border: 0;
outline: 0;
width: 100%;
margin-bottom: 2rem;
}
.subscribe__email::placeholder{
    color: rgba(255, 255, 253, 0.72);
}
.subscribe__btn{
/* height: 4rem; */
}
.subscribe-images{
    position: relative;
    right: 0;
    left: 0;    
    margin-top: 5rem;
    display: flex;

}
.subscribe__imge{
    position: relative;
    width: 22rem;
    height: 20rem;
}
.subscribe__imge--robot{
    position: absolute;
    width: 15.2rem;
    height: 19rem;
    bottom: -4rem;
    left: 18rem;
}
/* 
============
   header section
============   
*/
.footer{
    display: flex;
    justify-content: space-between;
    padding: 4rem 1.6rem;
    margin-top: 5rem;
}
.footer__top{
display: flex;
flex-direction: column;
padding-left: 0;
}
.footer__creative{

}
.footer__caption{
margin-top: 1rem;
width: 27rem;
}
.footer__socials{
display: flex;
margin-top:1.5rem;
}
.footer__social{
background-color:var(--text-color);
display: flex;
justify-content: center;
align-items: center;
margin: 1rem;
width: 2.4rem;
height: 2.4rem;
border-radius: .5rem;transition: all .2s ease-in;
cursor: pointer;
}
.footer__social:hover{
    background-color: var(--primary-color);
}
.footer__right{
display: flex;
gap: 1rem;
flex-wrap: wrap;
}
.footer__option{
}
.footer__title{
    font-size: 2rem;
    font-family: "Inter bold";
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.footer__list{

}
.footer__item{
padding-bottom: .5rem;
}
.footer__link{
color: var(--text-color);

}